@page "/{pageindex:int=1}"
@addTagHelper *,RazorPager
@model IndexModel
@{
    ViewData["Title"] = "RazorPage samples - Basic";
}

<div class="text-center">
    <h1>Basic pager</h1>
</div>
<ul>
    @foreach (var item in Model.PagedData)
    {
        <li>Item：@item</li>
    }
</ul>
<razorpager total-item-count="288" page-size="Model.PageSize"></razorpager>
<razorpager aria-label="Page navigation" tag-name="nav" total-item-count="288" template-name="bootstrap" page-size="Model.PageSize"></razorpager>
<div><a href="/?type=news&pagesize=20">参数分页</a></div>
