@page "/{pageindex:int=1}"
@addTagHelper *,RazorPager
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<razorpager total-item-count="250" max-pager-items="15"></razorpager>
