@page "/{pageindex:int=1}"
@addTagHelper *,RazorPager
@model IndexModel
@{
    ViewData["Title"] = "RazorPage samples - Basic";
}

<div class="text-center">
    <h1 class="display-4">RazorPage samples - Basic</h1>
    <p>RazorPage samples</p>
</div>
<razorpager total-item-count="288" template-name="bootstrap"></razorpager>
<razorpager total-item-count="280" max-pager-items="15"></razorpager>
