@page "/urlpagesize/{pageindex:int=1}/{pagesize:int=10}"
@addTagHelper *,RazorPager
@model IndexModel
@{
    ViewData["Title"] = "RazorPage samples - Pass page size through Url parameter";
}

<div class="text-center">
    <h1>Dynamic page size</h1>
</div>
<ul>
    @foreach (var item in Model.PagedData)
    {
        <li>Item：@item</li>
    }
</ul>
<razorpager total-item-count="288" template-name="bootstrap" page-size="Model.PageSize"></razorpager>
<ul>
    <li><a asp-page="urlpagesize" asp-route-pagesize="" asp-route-pageindex="">Page size = 10 (default)</a></li>
    <li><a asp-page="urlpagesize" asp-route-pagesize="20" asp-route-pageindex="1">Page size = 20</a></li>
    <li><a asp-page="urlpagesize" asp-route-pagesize="30" asp-route-pageindex="1">Page size = 30</a></li>
    <li><a asp-page="urlpagesize" asp-route-pagesize="50" asp-route-pageindex="1">Page size = 50</a></li>
</ul>
